<div class="w-full p-5">


    <p class="font-light text-xl">Vista general de usuarios</p>


    <mat-card class="mt-10">

        <mat-card-header>
            <mat-card-title>Filtrar por</mat-card-title>
        </mat-card-header>

        <mat-card-content class="mt-5">

            <div class="flex items-center">
                <div>
                    <mat-form-field class="text-xs w-80" appearance="fill">
                        <mat-label>Filtrar por usuario,nombre o apellidos</mat-label>
                        <input matInput placeholder="Usuario, Nombre, Apellidos" [(ngModel)]="filter">
                        <mat-icon [color]="'primary'" matSuffix><i class="fa fa-filter fa-sm"></i></mat-icon>
                    </mat-form-field>
                </div>

                <div class="mx-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Roles</mat-label>
                        <mat-select multiple [(ngModel)]="selectedRoles">
                            <mat-option *ngFor="let rol of roles" [value]="rol.id">{{rol.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="flex items-center ml-6">
                    <button class="h-10 w-40" mat-flat-button [color]="'primary'" (click)="search()">Buscar
                        <mat-icon>search</mat-icon></button>
                </div>
            </div>

        </mat-card-content>
    </mat-card>



    <mat-card class="mt-5">
        <mat-card-content class="flex justify-center">
            <table class="table w-full">
                <thead>
                    <tr class="border-blue-400 border">
                        <th>Usuario</th>
                        <th>Rol</th>
                        <th>Nombre</th>
                        <th>Apellido paterno</th>
                        <th>Apellido materno</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody *ngIf="users.length > 0">
                    <tr *ngFor="let user of users" class="bg-slate-200 border-blue-400 border">
                        <td>{{user.username}}</td>
                        <td>{{user.rol.nombre}}</td>
                        <td>{{user.nombre}}</td>
                        <td>{{user.apellido_paterno}}</td>
                        <td>{{user.apellido_materno}}</td>                        
                        <td> <button mat-flat-button [color]="'primary'" [routerLink]="'/app/gestion/usuarios/editar/'+user.id">Editar</button> </td>                        
                    </tr>
                </tbody>
            </table>
            <mat-paginator class="w-full" [length]="totalUsuarios" [pageSize]="20" [pageIndex]="currentPage">
            </mat-paginator>
        </mat-card-content>
    </mat-card>

</div>