<div class="loginContainer">

    <div class="login">

        <h1>Ingreso al sistema</h1>

        <form>
        
            <p>
            <mat-form-field appearance="fill">
              <mat-label>Usuario</mat-label>
              <input matInput placeholder="Ingrese su usuario" required name="usuario" [(ngModel)]="username" >                            
            </mat-form-field>
        </p>
          
            
        <p class="espacio">
            <mat-form-field appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input  matInput [type]="hide ? 'password' : 'text'" placeholder="Ingrese su contraseña" required name="password" [(ngModel)]="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>      
            </mat-form-field>
        </p>

        <button mat-flat-button color="primary" (click)="login()">Ingresar</button>                

        </form>


    </div>


</div>